<p style="color: green"><%= notice %></p>

<h1>Productos</h1>

<div id="productos">
  <% @productos.each do |producto| %>
    <%= render producto %>
    <p>
      <%= link_to "Mostrar este producto", producto %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo producto", new_producto_path %>
